:root {
    --headerColor:rgb(9, 43, 78);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
  }

header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--headerColor);
    color: aliceblue;
    width: auto;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-weight: none;
    font-size: 50px;
    vertical-align: middle;
    padding-left: 10px;
}

h2 {
    margin-left: 50px;
    margin-right: 50px;
    background-color: var(--headerColor);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 160%;
    text-align: center;
  }

  h3 {
    font-weight: bolder;
    font-size:x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
 } 

nav {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    text-decoration: none;
}

li {
    display: inline;
    justify-content: space-evenly;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    font-size: x-large;
    padding-right: 15px;
    color: aliceblue;
}

.Photos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.My-Photo {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.My-Photo img {
    max-height: 300px;
    max-width: 300px;
    border-radius: 10%;
}

p {
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.lower-portfolio {
    width: 100%;
    display: inline-flex;
    justify-items: center;

} 

#Marketing-Meeting {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }

  .Books {
    display: block;
    justify-content: center;
    
    width: 50%;
  }
  #Books {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 50%;
  }

  .RPS {
    display: block;
    justify-content: center;
    width: 50%;
  }
  #RPS {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 50%;
  }

  .Contact {
    display: block;
    list-style: none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  footer p {
    text-align: center;
  }