header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(9, 43, 78);
    color: aliceblue;
    width: auto;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-weight: none;
    font-size: 50px;
    vertical-align: middle;
    padding-left: 10px;
}

nav {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    text-decoration: none;
}

li {
    display: inline;
    justify-content: space-evenly;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    font-size: x-large;
    padding-right: 15px;
    color: aliceblue;
}

.Photos {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.My-Photo {
    max-width: 500px;
    max-height: 300px;
    display: flex;
}

/* .Visible-Qi img {
    width: 100%;
    z-index: 0;
} */

.My-Photo img {
    max-height: 300px;
    max-width: 300px;
    border-radius: 10%;
    /* z-index: 1000; */
}

